<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paws-n-Play</title>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <script> src="/public/js/homepage.js"</script>
</head>

<body>
    
<header class="container">
    <h1>Stacked Cards<br>Hover Effects</h1>
</header>

<div class="placeholder">
<template id="user-card-template">
  <section class="user-card">
    <h2>#name#</h2>
      <img src="#url#" alt="">
      <p>#text#</p>  
  </section>
</template>
</div>

</body>