<div class="signup-page">
  <form class="form">
    <h1>Signup</h1>
    <input type="text" placeholder="First name*" id="first-name" />
    <input type="text" placeholder="Last name*" id="last-name" />
    <input type="text" placeholder="Phone number*" id="phone-number" />
    <input type="text" placeholder="Email*" id="email-login" />
    <input type="password" placeholder="Password*" id="password-login" />

    <button>Create Account</button>
    <p class="message">Not registered? <a href="/signup">Create an account</a></p>
  </form>
</div>