@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  color: rgb(255, 255, 255);
}

label {
  color: rgb(226, 226, 226);
  font-weight: 200;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  width: 15%;
}

body {
  background-color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  background-color: #2a2b38;
  color: #ffbb00;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header h1 {
  font-family: "Meow Script", Sans-serif;
  font-size: 56px;
  margin: 25px;
}

header nav {
  font-size: 1.5em;
  padding-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  padding: 15px;
}

header a {
  text-decoration: none;
  color: #ffbb00;
}

footer {
  background-color: #ffbb00;
  color: #2a2b38;
  padding: 1%;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  color: #ffbb00;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1em;
}

.header-paw {
  font-size: 26px;
  padding-left: 5px;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 22em;
  font-family: "Poppins", Sans-serif;
  background-color: #2a2b38;
  margin: 0.5em;
  border-radius: 1em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card h2 {
  color: #ffbb00;
}

.card img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 5px solid #ffbb00;
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}

.pet-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.pet-info p {
  margin-bottom: 0.5em;
}

.pet-info-bottom {
  margin-top: 10em;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Login form */

.login-page {
  margin: 0.5em;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 20em;
}

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-indent: 22px;
}

.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffd000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form h1 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  color: #2a2b38;
  border-bottom: 2px solid #2a2b38;
}

.form button:hover {
  background: #ffae00;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #ffd900;
  text-decoration: none;
}

.fontuser {
  position: relative;
}

.fontuser i {
  position: absolute;
  left: 15px;
  top: 15px;
  color: gray;
}

.fontpassword {
  position: relative;
}

.fontpassword i {
  position: absolute;
  left: 15px;
  top: 15px;
  color: gray;
}

/* ADD PET FORM */

.add-pet-page {
  margin: 0.5em;
}

.pet-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 30em;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-top: 5em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.pet-form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.pet-form textarea {
  width: 100%;
}

.pet-form label {
  color: black;
  font-weight: 400;
}

.pet-form select {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.pet-form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffd000;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.pet-form h1 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  color: #2a2b38;
  border-bottom: 2px solid #2a2b38;
}

/* SIGNUP FORM */

/* EDIT PET */

.edit-pet-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  text-align: center;
  margin-top: 5em;
}

.edit-pet {
  width: 100%;
}

.edit-pet img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid #ffbb00;
  margin-bottom: 20px;
}

.edit-form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #e6e6e6;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  width: 20em;
  text-align: center;
}

.edit-form label {
  color: black;
  font-weight: 500;
}

.edit-form select {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #e6e6e6;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.edit-form .delete-btn {
  background-color: #ff643d;
}

.edit-form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffd000;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.edit-form textarea {
  background: #e6e6e6;
  width: 30em;
}

#edit-pet-pfp {
  width: 50em;
}

/* DASHBOARD */

.pet-dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2em;
}

.fa-dog {
  font-size: 36px;
}

.fa-plus {
  font-size: 14px;
  position: relative;
  top: -25px;
}

.add-pet-btn a {
  text-decoration: none;
  color: #2a2b38;
}

.add-pet-btn a:hover {
  color: #ffbb00;
}

/* SINGLE PET */

.single-pet-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  text-align: center;
  margin-top: 5em;
}

.single-pet img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid #ffbb00;
  margin-bottom: 20px;
}

.single-pet p {
  color: black;
  text-align: center;
}

/* FONTAWESOME ICONS */

.fa-check {
  color: rgb(0, 255, 0);
}

.fa-times {
  color: red;
}
